# https://github.com/authelia/authelia/blob/40aeb8fc978322dbc2abe92b496357e876dcc92a/examples/compose/lite/authelia/configuration.yml

server:
  address: 'tcp://:9091'

log:
  level: 'debug'

totp:
  issuer: 'orangepebble.net'

authentication_backend:
  ldap:
    implementation: 'lldap'
    address: 'ldap://lldap:3890'
    base_dn: 'DC=orangepebble,DC=net'
    user: 'UID=authelia,OU=people,DC=orangepebble,DC=net'
    # Removing access to the 'authelia' user used by Authelia in the backend
    #  to change user passwords (and probably other things) because it doesn't
    #  need to be logged into.
    # Also removing access to the default lldap 'admin' account.
    # Default 'users_filter': from https://www.authelia.com/integration/ldap/lldap/
    # Cheatsheet: https://gist.github.com/jonlabelle/0f8ec20c2474084325a89bc5362008a7
    users_filter: (&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person)(!({username_attribute}=authelia))(!({username_attribute}=admin)))

access_control:
  default_policy: 'deny'
  # https://www.authelia.com/configuration/security/access-control/#rule-matching
  rules:
    - domain: 'ldap.orangepebble.net'
      policy: 'two_factor'
      subject:
        - ['user:pedro']
    - domain: 'ldap.orangepebble.net'
      policy: 'deny'

    - domain: 'search.orangepebble.net'
      policy: 'bypass'

    - domain:
        - '*.orangepebble.net'
        - 'orangepebble.net'
      policy: 'two_factor'

session:
  cookies:
    - name: 'authelia_session'
      domain: 'orangepebble.net' # Should match whatever your root protected domain is
      authelia_url: 'https://auth.orangepebble.net'
      expiration: '1 hour'
      inactivity: '5 minutes'
  redis:
    host: 'redis'
    port: 6379

regulation:
  max_retries: 3
  find_time: '2 minutes'
  ban_time: '5 minutes'

storage:
  postgres:
    address: 'tcp://postgres:5432'
    username: 'authelia'
    database: 'authelia'

notifier:
  smtp:
    address: 'submission://smtp.gmail.com:587'
    username: 'orangepebbleauth@gmail.com'
    sender: 'OrangePebbleAuth <orangepebbleauth@gmail.com>'
    subject: 'OrangePebbleAuth - {title}'
