# https://github.com/authelia/authelia/blob/40aeb8fc978322dbc2abe92b496357e876dcc92a/examples/compose/lite/authelia/configuration.yml

server:
  address: 'tcp://:9091'

log:
  level: 'debug'

totp:
  issuer: 'orangepebble.net'

authentication_backend:
  ldap:
    implementation: 'lldap'
    address: 'ldap://lldap:3890'
    base_dn: 'DC=orangepebble,DC=net'
    user: 'UID=authelia,OU=people,DC=orangepebble,DC=net'

access_control:
  default_policy: 'deny'
  rules:
    # Rules applied to everyone
    - domain: '*.orangepebble.net'
      policy: 'one_factor'
    - domain: 'ldap.orangepebble.net'
      policy: 'two_factor'
    - domain: 'search.orangepebble.net'
      policy: 'bypass'

session:
  cookies:
    - name: 'authelia_session'
      domain: 'orangepebble.net' # Should match whatever your root protected domain is
      authelia_url: 'https://auth.orangepebble.net'
      expiration: '1 hour'
      inactivity: '5 minutes'
  redis:
    host: 'redis'
    port: 6379

regulation:
  max_retries: 3
  find_time: '2 minutes'
  ban_time: '5 minutes'

storage:
  postgres:
    address: 'tcp://postgres:5432'
    username: 'authelia'
    database: 'authelia'

notifier:
  smtp:
    address: 'submission://smtp.gmail.com:587'
    username: 'orangepebbleauth@gmail.com'
    sender: 'OrangePebbleAuth <orangepebbleauth@gmail.com>'
    subject: 'OrangePebbleAuth - {title}'
